
@font-face {
    font-family: "bath_light";
    src: url(../fonts/a옛날사진관2.ttf);
}

@font-face {
    font-family: "bath_medium";
    src: url(../fonts/a옛날사진관3.ttf);
}

@font-face {
    font-family: "bath_bold";
    src: url(../fonts/a옛날사진관4.ttf);
}

@font-face {
    font-family: "rocket";
    src: url(../fonts/a로케트.ttf);
}